---
import BackToPrev from "@/components/BackToPrev.svelte";
import BackToTop from "@/components/BackToTop.svelte";
import Container from "@/components/Container.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Base from "@/layouts/Base.astro";
import { filterDrafts } from "@/lib/content";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = filterDrafts(await getCollection("blog"));

  const paths = posts.map((post) => ({
    params: {
      regular: post.id,
    },
    props: { post },
  }));
  return paths;
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, image, date, draft } = post.data;
const { Content } = await render(post);
---

<Base
  title={title}
  description={description}
  og={`/og/${post.id}.jpg`}
>
  <Container>
    <article>
      <div class="space-y-1 my-10">
        <div class="animate flex items-center gap-1.5">
          <div class="text-sm">
            <FormattedDate date={date} />
          </div>
          {
            draft && (
              <div class="text-sm text-red-500 border border-red-500 rounded-lg px-2 py-0.5">
                Draft
              </div>
            )
          }
        </div>
        <h1
          set:html={title}
          class="animate text-2xl font-semibold text-black dark:text-white"
        />
      </div>
      {
        image && (
          <div class="animate mt-8 mb-2">
            <Image
              src={image}
              alt={title}
              widths={[400, 688, 1000]}
              sizes={`(max-width: 480px) 400px, (max-width: 768px) 688px, 1000px`}
              class="rounded-lg"
              loading="eager"
            />
          </div>
        )
      }
      <div class="animate content">
        <Content />
      </div>
    </article>

    <div class="animate flex mt-16">
      <BackToPrev client:only="react" />
      <BackToTop client:only="react" />
    </div>
  </Container>
</Base>
