---
import RiBlueskyLine from "~icons/ri/bluesky-line";
import RiCodepenLine from "~icons/ri/codepen-line";
import RiDiscordLine from "~icons/ri/discord-line";
import RiFacebookCircleLine from "~icons/ri/facebook-circle-line";
import RiGithubLine from "~icons/ri/github-line";
import RiInstagramLine from "~icons/ri/instagram-line";
import RiLinkedinLine from "~icons/ri/linkedin-line";
import RiMailLine from "~icons/ri/mail-line";
import RiMastodonLine from "~icons/ri/mastodon-line";
import RiRedditLine from "~icons/ri/reddit-line";
import RiRssLine from "~icons/ri/rss-line";
import RiThreadsLine from "~icons/ri/threads-line";
import RiTwitterXLine from "~icons/ri/twitter-x-line";
import RiYoutubeLine from "~icons/ri/youtube-line";
import Link from "./Link.astro";

interface Props {
  source: Record<string, string>;
  className?: {
    list?: string;
    item?: string;
    icon?: string;
  };
}

const { source, className } = Astro.props;

const renderMap = {
  bluesky: {
    Icon: RiBlueskyLine,
    ariaLabel: "bluesky",
  },
  facebook: {
    Icon: RiFacebookCircleLine,
    ariaLabel: "facebook",
  },
  twitter: {
    Icon: RiTwitterXLine,
    ariaLabel: "twitter",
  },
  mastodon: {
    Icon: RiMastodonLine,
    ariaLabel: "mastodon",
  },
  instagram: {
    Icon: RiInstagramLine,
    ariaLabel: "instagram",
  },
  threads: {
    Icon: RiThreadsLine,
    ariaLabel: "threads",
  },
  reddit: {
    Icon: RiRedditLine,
    ariaLabel: "reddit",
  },
  discord: {
    Icon: RiDiscordLine,
    ariaLabel: "discord",
  },
  youtube: {
    Icon: RiYoutubeLine,
    ariaLabel: "youtube",
  },
  linkedin: {
    Icon: RiLinkedinLine,
    ariaLabel: "linkedin",
  },
  codepen: {
    Icon: RiCodepenLine,
    ariaLabel: "codepen",
  },
  github: {
    Icon: RiGithubLine,
    ariaLabel: "github",
  },
  email: {
    Icon: RiMailLine,
    ariaLabel: "email",
  },
  rss: {
    Icon: RiRssLine,
    ariaLabel: "rss feed",
  },
};

type KeyOfRenderMap = keyof typeof renderMap;
const order: KeyOfRenderMap[] = [
  "github",
  "linkedin",
  "instagram",
  "mastodon",
  "bluesky",
  "rss",
];
const orderMap = new Map<KeyOfRenderMap, number>(
  order.map((key, index) => [key, index]),
);
// 未在列表上的，排在最後
const sorted = Object.entries(renderMap).sort((a, b) => {
  const aIndex = orderMap.get(a[0] as KeyOfRenderMap) ?? Infinity;
  const bIndex = orderMap.get(b[0] as KeyOfRenderMap) ?? Infinity;
  return aIndex - bIndex;
});
---

<ul class={className?.list}>
  {
    sorted.map(
      ([key, value]) =>
        source[key] && (
          <li class={className?.item}>
            <Link
              aria-label={value.ariaLabel}
              href={source[key]}
              external={true}
              underline={false}
            >
              <value.Icon className={className?.icon} />
            </Link>
          </li>
        ),
    )
  }
</ul>
